/* 
	#B7C8D9;
	#FFF;
	#F3F3F3;
	#A4A4A4;
	#F0F0F0;
	#000;
	#343638;
	#E8E8E8;
	#9E9E9E; 
	*/

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #fff;
}

h1,
h2 {
	font-weight: normal;
}

img {
	max-width: 100%;
	width: auto;
	height: auto;
}

button:hover {
	background-color: rgba(229, 229, 229, 0.38);
	color: black;
}

.header {
	background-image: url(../img/apples.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 100vh;
	color: #fff;
	text-align: center;
}

.header-top {
	display: flex;
	justify-content: space-between;
	font-size: 20px;
	font-weight: 400;
}

.header-top-title {
	text-transform: uppercase;
	letter-spacing: 0.1em;
	margin: 40px;
}

.header-top-nav {
	margin: 40px;
}

.header-top-nav a {
	text-decoration: none;
	color: #fff;
	margin: 2vw;
}

.header-text {
	text-align: center;
	height: 25vh;
}

.header-text-title {
	font-weight: normal;
	letter-spacing: 0.6rem;
	text-transform: uppercase;
	font-size: 65px;
}

.header-title-span {
	font-size: 120px;
}

.header-button {
	color: #fff;
	border: 3px solid #fff;
	background-color: rgba(0, 0, 0, 0.4);
	width: 300px;
	height: 70px;
	font-size: 18px;
	margin-top: 20rem;
}

.blog-top {
	background-color: #fff;
	display: flex;
	height: 40vh;
	align-items: center;
	font-size: 20px;
	justify-content: space-evenly;
}

.blog-top-title {
	flex-basis: 40%;
	flex-wrap: wrap;
}

.blog-top-description {
	flex-basis: 40%;
}

.blog-content {
	background-color: #f3f3f3;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.blog-content-title {
	height: 30vh;
	text-align: center;
	display: flex;
	align-items: center;
}

.blog-content-post {
	display: flex;
	justify-content: space-evenly;
	text-align: center;
}

.blog-content-post:nth-child(odd) {
	flex-direction: row-reverse;
}

.content-post-img {
	flex-basis: 80%;
	position: relative;
}

.content-post-img span {
	color: #f3f3f3;
	position: absolute;
	z-index: 2;
	bottom: 10px;
	left: 10px;
}

.like {
	position: absolute;
	top: 10px;
	right: 10px;
}

.content-post-description {
	flex-basis: auto;
	flex-wrap: wrap;
}

.blog-content-form {
	background-color: #fff;
}

.footer-content {
	display: flex;
	height: 440px;
	padding-top: 150px;
	flex-wrap: wrap;
}

.content-contact-list {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-decoration: none;
	list-style-type: none;
}

.content-contact-list a {
	color: #adbaca;
	text-decoration: none;
}

.footer-content-column h3 {
	margin-bottom: 30px;
}

.footer-bottom {
	min-height: 66px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-content-column {
	width: 22%;
	display: flex;
	flex-direction: column;
}
.footer-content-form {
	width: 100%;
	display: flex;
	margin: 0 0 3px 0;
}

.footer_text {
	font-size: 18px;
	color: #adbaca;
}

.footer_bottom_nav {
	display: flex;
	text-decoration: none;
}

.footer_bottom_nav li {
	margin: 0 0 0 40px;
	font-size: 18px;
	list-style-type: none;
}

hr {
	background-color: #caadad;
}
input {
	padding-left: 30px;
}
