/*
* Colors used in design.
*   primary: #0078aa;
*   dark: #363636;
*   light: #fff;
*/
html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-size: 5vh;
}

h2 {
	font-size: 4vh;
}

h3 {
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: -1px;
}

.icon-up {
	position: fixed;
	right: 15px;
	bottom: 15px;
}

.header-wrapper,
.about,
.help,
.offers {
	height: 95vh;
}

.contact {
	height: 75vh;
}

.nav-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 10vh;
	position: sticky;
	top: 0px;
	background: #fff;
}
.nav-top-logo {
	margin-left: 5%;
}
.nav-top-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-right: 5%;
	width: 35vw;
}

.nav-top-menu a {
	margin: 0 5%;
	text-decoration: none;
	font-weight: bold;
	color: #363636;
}

.nav-top-menu a:hover {
	color: #0078aa;
}

.header-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	background-image: url(../img/header_bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 95vh;
	width: 100%;
	text-align: left;
}
.header-title {
	margin-left: 5%;
	width: 35vw;
}
.header-subtitle {
	margin-left: 5%;
	width: 30vw;
	color: #b6b6b6;
}
.header-icons-wrapper {
	margin: 25px 5%;
	display: flex;
	align-items: center;
	justify-content: left;
}
.header-icons-list {
	display: flex;
	justify-content: space-between;
	width: 15vw;
}
.header-icons-item {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 40px;
	height: 40px;
	background-color: #0078aa;
	border-radius: 50%;
	font-size: 26px;
	color: #fff;
	padding: 10px;
	margin: 0.5em 1em 5em 0;
}

.header-icons-item:hover {
	background-color: #fff;
	color: #0078aa;
	border: 1px solid #0078aa;
	padding: 9px;
}

.about {
	display: flex;
	height: 95vh;
}
.about-img {
	background-image: url(../img/about_img.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	flex: 0 0 50%;
}
.about-text {
	flex: 1 1 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.about-title {
	margin: 0;
}
.about-subtitle {
	color: #0078aa;
}
.about-list {
	list-style-type: none;
	width: 70%;
	padding: 0;
}
.about-item span {
	color: #0078aa;
}

.help {
	background-image: url(../img/services_bg.jpg);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}
.help-top {
	text-align: center;
}
.help-title {
	margin: 0;
}
.help-subtitle {
	margin: 0;
}
.help-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.help-content-item {
	display: block;
	width: 25%;
	height: 30vh;
	margin: 10px;
	background-color: #fff;
	padding: 10px;
	text-align: left;
	padding: 25px;
}
.help-content-item img {
	height: 50%;
	margin: 10px;
}

.content-item-text {
	background-color: #fff;
}
.content-item-title {
	margin: 0;
}
.content-item-description {
	margin: 0;
}

.offers {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	text-align: center;
	background-image: url(../img/pricing_bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.offers-title {
	margin: 0;
}
.offers-subtitle {
	margin: 0;
}
.offers-content {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: auto;
}
.offers-content-item {
	background-color: #47c9e5;
	color: #fff;
	width: 20vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 70vh;
}

.offers-content-item:nth-of-type(2) {
	background-color: #fff;
	color: #0078aa;
	border: 2px solid #0078aa;
	height: 75vh;
}

.offers-list-title {
	margin: 0;
	font-size: 25px;
	font-weight: 700;
}
.offers-list-price {
	font-size: 50px;
	font-weight: 700;
	margin: 0;
}
.offers-list-subtitle {
	font-style: italic;
}
.offers-list {
	list-style: none;
	padding: 0;
}
.offers-list-item {
	margin: 10px;
}
.offers-button {
	border: 2px solid #0078aa;
	border-radius: 10px;
	height: 5vh;
	width: 5vw;
	color: #0078aa;
	background-color: #fff;
	font-weight: 700;
}

.offers-button:hover {
	color: #fff;
	background-color: #0078aa;
}

.contact {
	display: flex;
	margin: 0;
}
.contact-img {
	background-image: url(../img/contact_image.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	flex: 0 0 50%;
}
.contact-content {
	margin-left: 2%;
	flex: 1 1 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.contact-content-title {
	margin: 0;
}
.contact-content-subtitle {
	margin: 0;
}

.contact-content-form {
	display: flex;
	flex-direction: column;
}

.contact-content-form input {
	font-style: italic;
	font-size: 2vh;
	border-style: none;
	border-bottom: 1px solid #e5e5e5;
	margin: 2% 0;
}

.contact-content-button {
	border-radius: 10px;
	height: 5vh;
	width: 5vw;
	font-weight: 700;
	background-color: #0078aa;
	border-style: none;
	color: #fff;
	font-size: 0.8em;
	text-align: center;
}

.contact-content-button:hover {
	background-color: #fff;
	border: 2px solid #0078aa;
	color: #0078aa;
}

footer {
	background-color: #363636;
	color: #fff;
	height: 7vh;
	margin: 0;
	padding: 10px;
	text-align: center;
}

@media all and (max-width: 1279px) {
	.nav-top {
		margin: 0;
		height: 7vh;
	}
	.nav-top-logo {
		margin: 0;
	}
	.nav-top-menu {
		width: 50vw;
	}

	.header-wrapper {
		background: url('../img/header_bg.jpg') 35% / cover no-repeat;
		width: 100vw;
	}
	.header-title {
		width: 50vw;
		margin-bottom: 0;
	}
	.header-subtitle {
		width: 50vw;
		margin-top: 0;
	}

	.about {
		height: 80vh;
	}
	.about-subtitle {
		margin: 0;
	}
	.about-list {
		width: 100%;
	}

	.help-content-item {
		margin: 15px;
		padding: 25px;
		width: 20%;
	}
	.help-content-item img {
		height: 50%;
	}
	.offers-content-item {
		width: 30vw;
		height: 70vh;
	}
	.offers-content-item:nth-of-type(2) {
		height: 75vh;
	}
	.offers-list-title {
		margin-top: 0;
	}
	.offers-button {
		height: 6vh;
		width: 10vw;
	}

	.contact-img {
		background: url('../img/contact_image.jpg') left / cover no-repeat;
	}
	.contact-content-title,
	.contact-content-subtitle {
		width: 50%;
		margin: 0 15px;
	}
	.contact-content-form input {
		margin: 20px;
	}
	.contact-content-button {
		font-size: 1.1em;
		height: 6vh;
		width: 10vw;
		margin-top: 15px;
	}
}

@media all and (max-width: 767px) {
	.nav-top,
	.header-wrapper {
		flex-direction: column;
		text-align: center;
		justify-content: center;
		align-items: center;
	}

	.nav-top {
		height: 15vh;
	}
	.nav-top-logo,
	.nav-top-menu a {
		margin: 2px 10px;
		width: auto;
	}
	.nav-top-menu a:last-child {
		margin: 0;
	}
	.nav-top-menu {
		width: auto;
	}

	.header-wrapper {
		background-position: 26%;
		background-repeat: no-repeat;
		background-size: 272%;
		height: 424px;
		align-items: center;
	}
	.header-title,
	.header-subtitle,
	.header-icons-wrapper {
		margin: 0;
	}
	.header-icons-wrapper {
		width: 70vw;
		justify-content: center;
		height: 12vh;
	}
	.header-icons-list {
		width: 60vw;
		height: 10vh;
	}
	.header-icons-item:last-child {
		margin-right: 0;
	}

	.about {
		flex-direction: column;
		height: 170vh;
	}
	.about-img {
		height: 30vh;
		margin: 0;
		flex: 0 0 40%;
		background-size: contain;
	}
	.about-text {
		text-align: center;
		align-items: center;
		justify-content: center;
		margin: 0;
		flex: 1 1 60%;
		height: 100vh;
	}
	.about-subtitle {
		margin: 0;
	}
	.about-list {
		margin: 0;
	}
	.about-item {
		font-size: 1em;
		margin: 0;
	}

	.help {
		height: 315vh;
		justify-content: space-around;
	}
	.help-top {
		margin: 0;
	}
	.help-title {
		margin: 0;
	}
	.help-subtitle {
		margin: 0;
	}
	.help-content {
		flex-direction: column;
	}
	.help-content-item {
		width: 80%;
		height: auto;
	}
	.help-content-item img {
		height: 30%;
	}

	.offers {
		height: 250vh;
	}
	.offers-title {
		font-size: 25px;
	}
	.offers-content {
		flex-direction: column;
	}
	.offers-content-item {
		width: 80vw;
		height: 70vh;
		padding: 10px;
		margin: 10px;
	}
	.offers-content-item:nth-of-type(2) {
		padding: 8px;
		height: 70vh;
	}
	.offers-list-title {
		font-size: 18px;
		margin: 0;
	}
	.offers-list-price {
		font-size: 35px;
	}
	.offers-list-subtitle {
		margin: 0;
	}
	.offers-list-item {
		margin: 10px;
	}
	.offers-button {
		width: 20vw;
		height: 7vh;
	}

	.contact {
		flex-direction: column;
		height: auto;
	}
	.contact-content {
		width: 90vw;
		align-items: center;
		text-align: center;
	}
	.contact-content-title {
		width: auto;
	}
	.contact-content-subtitle {
		width: auto;
	}
	.contact-content-form {
		justify-content: center;
		align-items: center;
	}
	.contact-content-form input {
		width: 85vw;
		font-size: 16px;
	}
	.contact-content-button {
		width: auto;
		height: auto;
		padding: 15px;
		margin-bottom: 15px;
	}
}
