body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #21232e;
  color: #fff; }

.header {
  display: flex;
  border-bottom-right-radius: 40%;
  min-height: 700px;
  width: 100%;
  background-image: url("../img/m-h-night.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .header_heading {
    z-index: 1;
    position: relative;
    line-height: 1;
    color: #fff;
    font-size: 70px;
    font-weight: 700; }
    .header_heading::after, .section_text::after {
      content: '';
      position: absolute;
      width: 300px;
      height: 50px;
      background-color: #ff4e33;
      left: 0px;
      bottom: 0px;
      z-index: -1; }
  .header_text, .section_card_text {
    position: relative;
    bottom: 35px;
    font-family: "Fresca", sans-serif;
    white-space: pre-line;
    line-height: 1.5em; }
  .header-wrap {
    margin-top: 10px;
    margin-left: 185px;
    width: 600px; }
    .header-wrap .landing-logo {
      color: #fff;
      display: flex;
      align-items: center; }
      .header-wrap .landing-logo img {
        object-fit: none; }
      .header-wrap .landing-logo p {
        font-size: 1.5rem;
        text-align: center;
        display: block;
        margin: 0 0 0 15px;
        font-weight: 600;
        font-family: "Fresca", sans-serif; }
        .header-wrap .landing-logo p span {
          font-size: 0.7rem;
          display: block;
          margin-top: -6px;
          letter-spacing: -0.04em; }
  .header_button {
    background-color: #e3ac00;
    border-radius: 3px;
    border-style: none;
    font-weight: 700;
    font-size: 16px;
    width: 142px;
    height: 47px;
    text-align: center;
    color: #fff;
    padding: 15px;
    margin-top: 10px; }
  .header .login {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-left: 150px; }

.section {
  background-color: #21232e;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .section_text {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    position: relative;
    z-index: 1; }
    .section_text::after {
      width: 185px;
      left: 210px;
      bottom: 5px; }
  .section_card {
    display: flex;
    align-items: center;
    height: 330px;
    width: 1097px;
    background-color: #3b3f50;
    border-radius: 5px;
    margin-bottom: 25px;
    justify-content: space-between; }
    .section_card_img {
      display: flex;
      margin: 10px;
      width: auto;
      height: 90%;
      border-radius: 5px; }
    .section_card_right_container {
      margin-right: 90px;
      display: flex;
      flex-basis: 460px;
      height: auto;
      flex-wrap: wrap;
      justify-content: space-evenly; }
      .section_card_right_container a {
        color: #fff; }
    .section_card_heading {
      text-align: center;
      font-size: 25px;
      font-weight: 600; }
    .section_card_text {
      letter-spacing: 0.5px;
      white-space: normal; }
  .section_banner {
    z-index: 0;
    position: relative;
    top: 72.5px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 5px;
    width: 1180px;
    min-height: 145px;
    background: linear-gradient(90deg, #e0a704 0%, #97344d 100%);
    align-items: center; }
    .section_banner_heading {
      z-index: 0;
      color: #fff;
      font-size: 30px;
      font-weight: 600; }
      .section_banner_heading::after {
        content: '';
        position: absolute;
        width: 60px;
        height: 40px;
        background-color: #ff4e33;
        left: 330px;
        z-index: -1; }
    .section_banner_button {
      background-color: #e3ac00;
      border-radius: 3px;
      border-style: none;
      font-weight: 700;
      font-size: 16px;
      width: 142px;
      height: 47px;
      text-align: center;
      color: #fff;
      padding: 15px; }

.footer {
  z-index: -1; }
  .footer-wrap {
    display: flex;
    justify-content: space-around;
    background-color: #3b3f50;
    font-family: "Fresca", sans-serif;
    color: #d1d1d1;
    height: 240px;
    align-items: center; }
    .footer-wrap .footer_text {
      flex-basis: 290px; }
    .footer-wrap .landing-logo {
      color: #d1d1d1;
      display: flex;
      align-items: center; }
      .footer-wrap .landing-logo img {
        object-fit: none; }
      .footer-wrap .landing-logo p {
        font-size: 1.5rem;
        text-align: center;
        display: block;
        margin: 0 0 0 15px;
        font-weight: 600;
        font-family: "Fresca", sans-serif; }
        .footer-wrap .landing-logo p span {
          font-size: 0.8rem;
          display: block;
          margin-top: -6px;
          letter-spacing: -0.04em; }
