body {
	font-family: 'Times New Roman', Times, serif;
	font-size: 20px;
}
.main {
	display: none;
	border-radius: 10px;
	border: 2px solid grey;
	height: 100%;
	width: 100%;
}
.main label {
	margin: 10px;
}
.input {
	margin: 10px;
	background-color: rgb(20, 175, 136);
	display: block;
	max-width: auto;
	width: 97vw;
	border: none;
	height: 3vh;
}
.input::placeholder {
	opacity: 1;
	font-size: 16px;
	font-family: 'Times New Roman', Times, Baskerville, Georgia, serif;
}
button {
	margin: 15px 10px;
	background-color: rgb(70, 172, 23);
	border: none;
	width: 7vw;
	height: 5vh;
	text-align: center;
	border-radius: 5px;
	font-size: 18px;
	color: white;
}

button:hover {
	color: rgb(70, 172, 23);
	background-color: #fff;
	border: 2px solid rgb(70, 172, 23);
}
