body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 18px;
	background-color: #f4f4f4;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: #666;
}

h1 {
	font-size: 58px;
}

main {
}

article {
	margin: 30px 0;
}

footer {
	color: #666;
}

.cards {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.cards > div {
	width: 27vw;
	height: 30vh;
}

.cards-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 60px;
}

.cards-item:nth-child(1) {
	color: #fff;
	background-color: #76cdd8;
}
.cards-item:nth-child(2) {
	background: #fff;
}
.cards-item:nth-child(3) {
	background: #fff;
}
.cards-item:nth-child(3) > h2 {
	color: #76cdd8;
}
.cards-item:nth-child(3) > button {
	align-self: flex-end;
}
.cards-item:nth-child(4) {
	background-color: #76cdd8;
	color: #fff;
}
.cards-item:nth-child(4) > img {
	border-radius: 50%;
	width: 240px;
	height: 240px;
	object-fit: cover;
	object-position: center;
}
.cards-item:nth-child(5) {
	background: url('../img/image-01.jpg') center no-repeat;
}
.cards-item:nth-child(6) {
	background: #fff;
}

.about {
	display: flex;
	justify-content: center;
}
.about-description {
	background: #fff;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	width: 46.5vw;
	height: 60vh;
}
.about-description > h2 {
	color: #76cdd8;
}
.about-description > * {
	margin: 0 25px;
}
.about-description > button {
	align-self: flex-end;
}
.about-img {
	background: url('../img/image-02.jpg') center no-repeat;
	width: 20vw;
	height: 60vh;
}

.pricing {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
}
.pricing-img {
	background: url('../img/image-03.jpg') 0 0 / auto 100% no-repeat;
	width: 20vw;
	height: 60vh;
}
.pricing-description {
	display: flex;
	background: #fff;
	width: 46.5vw;
	justify-content: space-evenly;
	align-items: center;
}
.pricing-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid #019999;
	width: 15vw;
}
.pricing-card-header {
	background-color: #019999;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}
.pricing-card-description {
}
.form {
}

.form > h2 {
	padding: 70px 0 70px 250px;
	background-color: #23d4d4;
	color: white;
}
.form-wrapper {
	display: flex;
	justify-content: center;
	width: 75%;
	padding-left: 50px;
	position: relative;
	left: 13%;
	margin-top: -70px;
	margin-bottom: 100px;
	padding-top: 75px;
	background-color: white;
}

/* buttons */

button {
	background-color: #019999;
	color: #fff;
	padding: 12px 40px;
	width: 9vw;
	border: none;
	text-transform: uppercase;
	font-size: 15px;
}

.buy {
	text-align: center;
	margin: 0 13% 10%;
}
.read {
}
