table {
	border-collapse: collapse;
}
th,
td {
	border: 1px solid #000000;
	padding: 10px 0;
	width: 150px;
}
th {
	background: #04af04;
}
span {
	font-size: 20px;
	font-weight: bold;
	color: #fafa00;
}
.infoLine:hover {
	background: #b8b3b3;
}
