@mixin buttonstyle {
	background-color: map-get($colors, bgbutton);
	border: {
		radius: 3px;
		style: none;
	}
	font: {
		weight: 700;
		size: 16px;
	}
	width: 142px;
	height: 47px;
	text-align: center;
	color: #fff;
	padding: 15px;
}

@mixin linkstyle {
	color: #fff;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	background-color: map-get($colors, bgsection);
	color: #fff;
}

.header {
	display: flex;
	border-bottom-right-radius: 40%;
	min-height: 700px;
	width: 100%;
	background: {
		image: $bgimg;
		position: center;
		repeat: no-repeat;
		size: cover;
	}
	&_heading {
		z-index: 1;
		position: relative;
		line-height: 1;
		color: map-get($colors, headerfont);
		font: {
			size: 70px;
			weight: 700;
		}
		&::after {
			content: '';
			position: absolute;
			width: 300px;
			height: 50px;
			background-color: map-get($colors, mark);
			left: 0px;
			bottom: 0px;
			z-index: -1;
		}
	}
	&_text {
		position: relative;
		bottom: 35px;
		font-family: $textff;
		white-space: pre-line;
		line-height: 1.5em;
	}
	&-wrap {
		margin-top: 10px;
		margin-left: 185px;
		width: 600px;
		.landing-logo {
			color: map-get($colors, headerfont);
			display: flex;
			align-items: center;
			& img {
				object-fit: none;
			}
			& p {
				font-size: 1.5rem;
				text-align: center;
				display: block;
				margin: 0 0 0 15px;
				font-weight: 600;
				font-family: $textff;
				& span {
					font-size: 0.7rem;
					display: block;
					margin-top: -6px;
					letter-spacing: -0.04em;
				}
			}
		}
	}
	&_button {
		@include buttonstyle;
		margin-top: 10px;
	}
	.login {
		@include linkstyle;
		font-size: 20px;
		font-weight: 600;
		margin-left: 150px;
	}
}

.section {
	background-color: map-get($colors, bgsection);
	display: flex;
	flex-direction: column;
	align-items: center;
	&_text {
		color: map-get($colors, headerfont);
		font-size: 40px;
		font-weight: 700;
		position: relative;
		z-index: 1;
		&::after {
			@extend .header_heading::after;
			width: 185px;
			left: 210px;
			bottom: 5px;
		}
	}
	&_card {
		display: flex;
		align-items: center;
		height: 330px;
		width: 1097px;
		background-color: map-get($colors, bgfooter);
		border-radius: 5px;
		margin-bottom: 25px;
		justify-content: space-between;
		&_img {
			display: flex;
			margin: 10px;
			width: auto;
			height: 90%;
			border-radius: 5px;
		}
		&_right_container {
			margin-right: 90px;
			display: flex;
			flex-basis: 460px;
			height: auto;
			flex-wrap: wrap;
			justify-content: space-evenly;
			a {
				@include linkstyle;
			}
		}
		&_heading {
			text-align: center;
			font-size: 25px;
			font-weight: 600;
		}
		&_text {
			@extend .header_text;
			letter-spacing: 0.5px;
			white-space: normal;
		}
	}
	&_banner {
		z-index: 0;
		position: relative;
		top: 72.5px;
		display: flex;
		justify-content: space-evenly;
		border-radius: 5px;
		width: 1180px;
		min-height: 145px;
		background: map-get($colors, gradient);
		align-items: center;
		&_heading {
			z-index: 0;
			color: map-get($colors, headerfont);
			font-size: 30px;
			font-weight: 600;
			&::after {
				content: '';
				position: absolute;
				width: 60px;
				height: 40px;
				background-color: map-get($colors, mark);
				left: 330px;
				z-index: -1;
			}
		}
		&_button {
			@include buttonstyle;
		}
	}
}

.footer {
	z-index: -1;
	&-wrap {
		display: flex;
		justify-content: space-around;
		background-color: map-get($colors, bgfooter);
		font-family: $textff;
		color: map-get($colors, footerfont);
		height: 240px;
		align-items: center;
		.footer_text {
			flex-basis: 290px;
		}
		.landing-logo {
			color: map-get($colors, footerfont);
			display: flex;
			align-items: center;
			& img {
				object-fit: none;
			}
			& p {
				font-size: 1.5rem;
				text-align: center;
				display: block;
				margin: 0 0 0 15px;
				font-weight: 600;
				font-family: $textff;
				& span {
					font-size: 0.8rem;
					display: block;
					margin-top: -6px;
					letter-spacing: -0.04em;
				}
			}
		}
	}
}
