$bgimg: url('../img/m-h-day.jpg');
$textff: 'Hind', sans-serif;

$colors: (
	headerfont: #2c2f3c,
	mark: #14a0c7,
	footerfont: #c0c3ce,
	bgsection: #fff,
	bgfooter: #21232e,
	bgbutton: #699900,
	gradient: linear-gradient(90deg, rgba(99, 147, 22, 1) 0%, rgba(47, 94, 208, 1) 100%),
);
