$bgimg: url('../img/m-h-night.jpg');
$textff: 'Fresca', sans-serif;

$colors: (
	headerfont: #fff,
	mark: #ff4e33,
	footerfont: #d1d1d1,
	bgsection: #21232e,
	bgfooter: #3b3f50,
	bgbutton: #e3ac00,
	gradient: linear-gradient(90deg, rgba(224, 167, 4, 1) 0%, rgba(151, 52, 77, 1) 100%),
);
