@media print {
	.tm-content-box:not(.flex-2-col):not(.tm-content-header),
	.tm-sidebar .tm-main-nav,
	.blocks {
		display: none;
	}

	.tm-banner {
		border-style: none !important;
	}

	.tm-team-description-container {
		flex: 0 0 60%;
	}

	.flex-item img {
		flex: 1 1 auto;
		width: 70%;
	}

	.tm-team-description-container .tm-section-title {
		color: blue;
	}
}

.tm-box-bg-title:hover {
	background-color: #87cefa;
	color: #fff;
	font-weight: 700;
}

.flex-2-col {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

p::first-letter {
	color: #87cefa;
	font-size: 30px;
}

h2 + p {
	font-style: italic;
}

.tm-section-description::first-letter {
	line-height: 0;
}

.tm-section-description {
	text-indent: 1.5em;
}

.tm-sidebar,
.tm-content-box {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.tm-banner {
	padding: 0;
	border: 30px solid #f5f5f5;
}

@media screen {
	section::before {
		content: "";
		display: block;
		width: 0;
		height: 0;
		border: 30px solid transparent;
		border-top: 0 solid transparent;
		border-left: 225px solid #88cef9;
	}
}

.carousel-inner .tm-section-title {
	color: #ededed;
	letter-spacing: 5px;
}

.heading a {
	color: #000;
	position: relative;
}

.heading a:visited {
	text-decoration: underline;
}

.heading a:hover {
	text-decoration: double underline;
	color: #87cefa;
}

.text {
	position: relative;
}

.text::after {
	content: "New";
	position: absolute;
	right: -20px;
	top: -1px;
	color: #ff0000;
	font-size: 10px;
}

.box-work {
	padding: 10px;
}

.box-work:nth-of-type(even) {
	background-color: #ededed;
}

.box-work p::first-letter {
	color: #000;
}

.mandatory-field::after {
	content: "*";
	color: red;
}

.btn {
	height: 50px;
	width: 15%;
	float: right;
	background-color: #fff;
	border-color: #87cefa;
	color: #87cefa;
}

.btn:hover {
	background-color: #87cefa;
	border-color: #87cefa;
	color: #cfebfc;
}

.tm-main-nav li:hover {
	background-color: #ededed;
}
