:root {
  --primary-color: #f2c744;
  --light: #f4f6f9;
  --dark: #000;
  --primary-font: 'Shadows Into Light', cursive;
  --secondary-font: 'Dancing Script', cursive;
}

body {
  background-color: var(--light);
}

header, main, footer, .grid-column4 {
  box-shadow: 0px 0px 5px 0px rgba(34, 60, 80, 0.2);
}

header {
  text-align: center;
  margin-bottom: 20px;
}

header img {
  width: 200px;
}

header h1 {
  font-family: var(--secondary-font);
}

header h2 {
  font-family: var(--primary-font);
  font-weight: 400;
}

img {
  max-width: 100%;
  max-height: 100%;
}

div {
  padding: 0 2px;
}

h1, h2, h3 {
  margin: 0;
}

p {
  padding: 10px;
  margin: 0;
}

footer {
  margin-top: 10px;
  text-align: center;
  font-family: var(--primary-font);
}

footer img {
  width: 100px;
}

footer h2 {
  font-family: var(--secondary-font);
}

.grid {
  display: grid;
  grid-template-columns: fit-content(20%) fit-content(20%) fit-content(20%) fit-content(40%);
  grid-template-rows: auto;
}

.grid-column4 {
  text-align: center;
  font-size: 25px;
}

.grid-column4 .svg {
  width: 25px;
}

.grid-column4 .grid-item {
  font-family: var(--primary-font);
}

.grid-column4 .grid-item h2 {
  font-family: var(--secondary-font)
}